<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Database Result
                </h1>
                <small>
                    <% content.forEach(function(list){ %>
                        id : <%= list.id %> | key : <%= list.key %> | value : <%= list.value %> <br>
                    <% }); %>
                </small>
            </div>
        </div>
    </div>
</div>