<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <%- include(dirs.winMain + '/common/navigation.ejs') %>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <%- include(dirs.winMain + '/common/topnavbar.ejs') %>

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <%- include(dirs.winMain + '/common/footer.ejs') %>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->